#############
# Django
#############
DJANGO_ENV=development
DJANGO_SECRET_KEY=!!!SET DJANGO_SECRET_KEY!!!
SERVER_URL=http://localhost:8000
LOG_LEVEL=INFO
DRF_API_LOGGER_METHODS=POST,PUT,PATCH,DELETE
GUNICORN_WORKERS=2

#############
# Cache
#############
# CACHE_URL=redis://USER:PASSWORD@HOST:PORT/

#############
# Database
#############
# DATABASE_URL=mysql://USER:PASSWORD@HOST:PORT/NAME

#############
# OSS
#############
ALIYUN_OSS_ACCESS_KEY_ID=!!!SET ALIYUN_OSS_ACCESS_KEY_ID!!!
ALIYUN_OSS_ACCESS_KEY_SECRET=!!!SET ALIYUN_OSS_ACCESS_KEY_SECRET!!!
ALIYUN_OSS_BUCKET_NAME=!!!SET ALIYUN_OSS_BUCKET_NAME!!!

#############
# Zq Auth
#############
ZQAUTH_APPID=!!!SET ZQAUTH_APPID!!!
ZQAUTH_SECRET=!!!SET ZQAUTH_SECRET!!!
